#############################
# Java / Spring Boot
#############################

/target/
/out/
*.log
*.class
*.jar
*.war

#############################
# Maven
#############################

.mvn/
!/.mvn/wrapper/maven-wrapper.jar

#############################
# IntelliJ IDEA
#############################

.idea/
*.iml
*.ipr
*.iws
workspace.xml
tasks.xml
shelf/
modules.xml

#############################
# VS Code
#############################

.vscode/

#############################
# Node / React
#############################

node_modules/
build/
dist/
.vite/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

#############################
# Environment files
#############################

.env
.env.*
.env.local

#############################
# Windows
#############################

Thumbs.db
$RECYCLE.BIN/
*.lnk

#############################
# macOS
#############################

.DS_Store

#############################
# Misc
#############################

*.tmp
*.cache
